<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title></title>
        <link rel="stylesheet" href="/css/estilo.css" />
    </head>
    <body>
        <h1>ManySearcher</h1>
        <div class="colunas">
            <div class="google">
                <% @googles.each do |goos| %>
                <div class="celula primaria">
                    <p class="titulo">
                        <%= goos[:title] %>
                    </p>
                    <p class="">
                        <%= goos[:content] %>
                    </p>
                </div>
                <% end %>
            </div>
            <div class="twitter">
                <% @tweets.each do |tweet| %>
                <div class="celula primaria">
                    <p class="titulo">
                        <%= tweet[:from] %>
                    </p>
                    <p class="">
                        <%= tweet[:text] %>
                    </p>
                </div>
                <% end %>
            </div>
        </div>
    </body>
</html>
